@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   overflow-x: hidden;
}

.carousel-dots li button:before {
   width: 15px !important;
   height: 15px !important;
   color: transparent !important;
   border: 2px solid white;
   border-radius: 50%;
   opacity: 1 !important;
}

.product-dots {
   display: flex !important;
   justify-content: space-between;
}

.product-dots li button {
   width: 35px !important;
   height: 35px !important;
   opacity: 0 !important;
}

.carousel-dots-active button:before {
   border-radius: 50%;
}

.carousel-dots li.carousel-dots-active button:before {
   color: transparent !important;
   background-color: white !important;
   opacity: 1 !important;
}

.carousel-prev:before,
.carousel-next:before {
   background-image: url('/src/components/main/categoryCarousel/categoryImg/back.png') !important;
   width: 40px !important;
   height: 40px !important;
}

.carousel-next:before {
   background-image: url('/src/components/main/categoryCarousel/categoryImg/next.png') !important;
}

.carousel-prev {
   left: 30px !important;
}

.carousel-next {
   right: 30px !important;
}

.wrapper {
   padding-top: 5%;
   padding-bottom: 5%;
   padding-left: 10%;
   padding-right: 10%;
}

/* mainSection */
.gm-style-iw {
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
   padding: 0 !important;
   border-radius: 0 !important;
}
/* textdiv */
.gm-style-iw-d {
   overflow: hidden !important;
}
/* button  */
.gm-ui-hover-effect {
   opacity: 1 !important;
}
.textContent {
   display: flex !important;
   flex-direction: column !important;
   gap: 5px;
   padding: 10px;
}

input[type='file'] {
   display: none;
}

.range input[type='range'] {
   -webkit-appearance: none;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0);
}

.range input[type='range']::-webkit-slider-thumb {
   position: relative;
   -webkit-appearance: none;
   width: 10px;
   height: 10px;
}

.range input[type='range']::-webkit-slider-runnable-track {
   -webkit-appearance: none;
   box-shadow: none;
   border: none;
   background: transparent;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
   appearance: none;
   -moz-appearance: textfield;
}
