@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-dots li button:before {
  width: 15px !important;
  height: 15px !important;
  color: transparent !important;
  border: 2px solid white;
  border-radius: 50%;
  opacity: 1 !important;
}

.carousel-dots-active button:before {
  border-radius: 50%;
}

.carousel-dots li.carousel-dots-active button:before {
  color: transparent !important;
  background-color: white !important;
  opacity: 1 !important;
}

.carousel-prev:before,
.carousel-next:before {
  background-image: url('/src/components/main/categoryCarousel/categoryImg/back.png') !important;
  width: 40px !important;
  height: 40px !important;
}

.carousel-next:before {
  background-image: url('/src/components/main/categoryCarousel/categoryImg/next.png') !important;
}

.carousel-prev {
  left: 30px !important;
}

.carousel-next {
  right: 30px !important;
}

.wrapper {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

/* mainSection */
.gm-style-iw {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
/* textdiv */
.gm-style-iw-d {
  overflow: hidden !important;
}
/* button  */
.gm-ui-hover-effect {
  opacity: 1 !important;
}
.textContent {
  display: flex !important;
  flex-direction: column !important;
  gap: 5px;
  padding: 10px;
}
